
*{
    margin: 0;
    padding: 0;
}

header{
    display: flex;
    background-color: white; 
    justify-content: space-between;
    align-items: center;
    padding: 10px 145px 10px 145px;
    width: 80%;    
  }

  .fixed{
    position: fixed;
  }
  
  nav{
    display: flex;
    justify-content: space-around;
    
  }

  .navegador:hover{
    border-bottom: 3px solid rgb(255, 145, 251);
  }

    .redes{
         display: flex;
         justify-content: end;
        
        }

    .iconosestilo{
         color: rgb(77, 85, 90);
         font-size: 20px;
         
     }
    .iconosestilo:hover{
         color: rgb(255, 145, 251);
     }

     .iconosestilob{
        color: rgb(77, 85, 90);
        font-size: 20px;
     }
     .iconosestilob:hover{
        color: white;
     }


.section1{
    background-color: rgb(255, 145, 251);
    height: 100hv;
    padding: 120px 145px 120px 145px;
    display: flex;
    justify-content: space-between;
    }

   .presentacion{
    margin-top: 35px;
    width: 50%;
     }
     
    img{
        width: 50%
    }

    .imgRedonda{
        width:400px;
        height:400px;
        border-radius: 50%;
        border: 15px solid white;
    }
   
 /* @media ver clase 8 a 55 min */

.section2{
    
    height: 100vh;
    padding: 90px 145px 90px 145px;
    display: flex;
    flex-direction: column;
    justify-content: space-between;

   }

   .textopresentacion{
    display: flex;
    justify-content: space-between;
    }

   .datospersonales{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    }
    
.section3{
        background-color: rgb(248, 249, 250);
        padding: 90px 145px 90px 145px;
        height: 100vh;
        display: flex;
        flex-direction: column;
        justify-content: space-between;
        }

        .iconosestilo2{
             color: rgb(255, 145, 251);
             font-size: 50px;
        }

        
    .section3b, .section3c{
        display: flex;
        justify-content: space-between;
        }

.section4{
        height: 100vh;
        padding: 90px 145px 90px 145px;
        display: flex;
        flex-direction: column;
        justify-content: space-between;
        }

       .curriculum{
        display: flex;
        flex-direction: row;
        justify-content: space-between
       }

       .mieducacion{
                display: flex;
                flex-direction: column;
                justify-content: space-around;
       }

       .miexperiencia{
                display: flex;
                flex-direction: column;
                justify-content: space-around;
       }

       .borderleft{
        border-left: 3px solid rgb(255, 145, 251);
       }

       .barra{
        width: 300px;
        height: 8px;
        border-radius: 10px;
        background-color: #ccc;
       }
       .barra>div{
        height: 100%;
        border-radius: 10px;
        background-color: rgb(255, 145, 251);
       }

       .barras{
        display: flex;
        flex-direction: column;
       }
        .mishabilidades{
            display: flex;
            flex-direction: row;
            justify-content: space-between;
        }
       

.section5{
        background-color: rgb(248, 249, 250);
        height: 100vh;
        padding: 90px 145px 90px 145px;
        display: flex;
        flex-direction: column;
        justify-content: space-between;
         }
    
    .misproyectos{
        display: flex;
        flex-direction: row;
        justify-content: space-evenly;
      }

    .misproyectos>p:hover{
          border-bottom: 3px solid rgb(255, 145, 251); 
      }

    .galeria1{
        display: flex;
        justify-content: space-between;
    }
    .galeria2{
        display: flex;
        justify-content: space-between;
    }

    .imggaleria{
        opacity: 1;
    }
    .imggaleria:hover{
        opacity: 0.7;
    }


    /*.lupa{
    position: absolute;
    top: 50%;
    left: 50%; 
    font-size: 2rem;
    opacity: 0;
    transform: translate(-50%,-50%);
    }

    img:hover .lupa{
        opacity: 1;

    }*/


    /*.galeria>div{
        width: 100%;
    }*/

    .imggaleria{
         width: 250px;
         height: 250px;
    }


footer{
        height: 100vh;
        padding: 90px 145px 90px 145px;
        background-color: rgb(255, 145, 251);
        display: flex;
        flex-direction: row;
        justify-content: space-between;
    }

    .contacto{
        display: flex;
        flex-direction: column;
        justify-content: space-between;
    }
        
    .redesfooter{   
        width: 20%;
        display: flex;
        justify-content: space-between;

    }

    .formulariofooter{
        display: flex;
        flex-direction: column;
        justify-content: space-between;
    }

    form{
        display: flex;
        flex-direction: column;
        justify-content: space-around;
    }

    input{
        text-decoration: none;
        border-bottom: 1px solid black;
    }

button{
        background-color: rgb(33, 37, 41);
        width: 125px;
        padding: 10px;
        border: 0;
    }

button>p{
        font-family: 'Dosis', sans-serif;
        font-size: 20px;
        color: white       
    }   

    
h1{
        font-family: 'Dosis', sans-serif;
        font-size: 50px;
        font-weight: lighter;
    }

.h1bigger{
        font-family: 'Dosis', sans-serif;
        font-size: 60px;
        font-weight: bolder;
    }  
    
h2{
        font-family: 'Dosis', sans-serif;
        font-size: 42px;
        
        }
    
p{
        font-family: 'Dosis', sans-serif;
        font-size: 25px;
    }
    
.p2{
        font-family: 'Dosis', sans-serif;
        font-size: 20px;
    }
    
.p3{
        font-family: 'Dosis', sans-serif;
        font-size: 30px;
        font-weight: 900;
    }
    
a{
        margin-left: 20px;
        margin-right: 20px;
        text-decoration: none;
         }
    
.fontweight{
        font-weight: 700;
    }
strong{
        border-bottom: 3px solid rgb(255, 145, 251);
    }

.centrartexto{
    text-align: center;
}


span{
    background-color: rgb(255, 145, 251);
    
    }
